* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans';
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.button {
	line-height: 40px;
	padding: 0 20px;
	display: inline-block;
}

.button-small {
	line-height: 40px;
	padding: 0 20px;
	display: inline-block;
}

/* .button {
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
} */

.bg-blue {
    background-color: rgba(0, 97, 255, 1);
    color: white;
}

.bg-white {
    border: 1px solid black;

}


.justify-between {
    justify-content: space-between;
}
/* HEADER */

.container-lg{
    width: 100%;
}

.row{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    align-items: center;
}

.menu > li{
    padding: 20px;
}

.hero {
    background-color: rgba(180, 208, 231, 1);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 24px;
}

.title {
    padding: 50px 0px;
    font-weight: 700;
    font-size: 80px;
}

.col-30 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.col-30 .material-symbols-outlined {
    margin-top: auto;
    margin-bottom: 20px;
}

.col-70 {
    width: 70%;
}

.col-4 {
    width: calc(4 * 100% / 12 );
    padding: 10px 25px;
}


.nav {
    justify-content: space-between;
}

.max-height {
    max-height: 480px;
}

.container-sm {
    max-width: 1000px;
	margin: 0 auto;
    padding: 10px;
}

.col__header {
    padding: 10px 0px;
    border-bottom: 4px solid rgba(237, 237, 238, 1);
    text-align: center;
}

.col__section > *{
    padding: 10px;
}

.col__footer > *{
    padding: 5px;
}

.col__footer span {
    color: rgba(0, 97, 255, 1);
}

.col__section {
    padding: 15px 10px;
}

.col__section .button {
    margin-bottom: 10px;
    font-size: 15px;
}

.a-reset {
    text-decoration: underline;
}

hr {
    margin: 0px 30px;
    width: 50px;
}

.card {
    height: 100%;
    border: 5px solid rgba(237, 237, 238, 1);
}

.col-100 {
    width: 100%;
    padding: 30px 25px
}

.col__title {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.col__main {
    margin: 10px;
}

.col__main > * {
    margin: 10px;
}

.business-title span {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

.col-50 {
    width: 50%;
    padding: 0px 25px;
}


.business h2 {
    padding: 20px 25px;
}

.business {
    margin: 60px 0px;
}

.business-link { 
    margin: 30px 25px;
}