/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans';
}

/* STYLE */

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.button {
	line-height: 40px;
	padding: 0 20px;
	display: inline-block;
}

.button-small {
	line-height: 40px;
	padding: 0 20px;
	display: inline-block;
}

.bg-blue {
    background-color: rgba(0, 97, 255, 1);
    color: white;
}

.bg-white {
    border: 1px solid black;
}

.bg-arizona {
    background-color: rgba(97, 8, 43, 1);
}

.bg-florida {
    background-color: rgba(0, 147, 206, 1);
}

.bg-topps {
    background-color: rgba(255, 28, 28, 1);
}

.bg-bicycle {
    background-color: rgba(213, 0, 31, 1);
}

.bg-hearst{
    background-color: rgba(180, 208, 231, 1);
}

.bg-lonely {
    background-color: rgba(13, 36, 129, 1);
}

.bg-clearchannel {
    background-color: rgba(255, 216, 48, 1);
}

.company-business {
    background-color: rgba(180, 208, 231, 1);
}

.justify-between {
    justify-content: space-between;
}

.col-70 {
    width: 70%;
}

.col-4 {
    width: calc(4 * 100% / 12 );
}

.nav {
    justify-content: space-between;
}

.max-height {
    max-height: 480px;
}

.container-sm {
    max-width: 1000px;
	margin: 0 auto;
}

.container-lg{
    width: 100%;
}

.row{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    align-items: center;
}

.menu > li{
    padding: 20px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 24px;
}

.title {
    padding: 50px 0px;
    font-weight: 700;
    font-size: 80px;
}

.col-30 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.col-20 {
    width: 20%;
}


/* HEADER */

.col__footer > *{
    padding: 5px;
}

.col__footer span {
    color: rgba(0, 97, 255, 1);
}

.hero {
    background-color: rgba(180, 208, 231, 1);
}

.col-30 .material-symbols-outlined {
    margin-top: auto;
    margin-bottom: 20px;
}

.col__header {
    padding: 10px 0px;
    border-bottom: 4px solid rgba(237, 237, 238, 1);
    text-align: center;
}

.col__section > *{
    padding: 10px;
}

.col__section {
    padding: 15px 10px;
}

.col__section .button {
    margin-bottom: 10px;
    font-size: 15px;
}

.a-reset {
    text-decoration: underline;
    color: rgba(113, 113, 245, 1)
}

hr {
    margin: 0px 30px;
    width: 50px;
}

/* BODY */

.plans {
    padding: 25px 25px 25px 0px;
}

.card {
    height: 100%;
    border: 5px solid rgba(237, 237, 238, 1);
    
}

.col-100 {
    width: 100%;
}

.col__title {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.col__main {
    margin: 10px;
}

.col__main > * {
    margin: 10px;
}

.business-title span {
    display: inline-block;
    margin: 20px 20px 20px 0px;
}

.col-50 {
    width: 50%;
}


.business .plan {
    padding-left: 0;
    padding-right: 0;
}

.business-title {
    padding: 20px 0px;
}

.business {
    margin: 60px 0px;
}


.business-link { 
    margin: 60px 0px;
}

.statistic {
    margin: 200px 0px;
}



.partner {
    margin: 125px 0px;
}

.company-list img {
    width: 50%;
    height: 270px;
    line-height: 40px;
    padding: 50px;
    display: block;
}
.company-main {
    background-color: rgba(245, 245, 245, 1);
    padding: 40px;
}

.company-main > * { 
    padding: 0px 45px;
}

.company-list {
    display: flex;
    flex-wrap: wrap;
}

.company-business .col-50 {
    padding: 50px;
}


.faq {
    margin: 160px 0px;
}

.faq .material-symbols-outlined {
    margin-left: 900px;
}

.faq-list li{
    border-bottom: 1px solid black;
    padding: 10px;
    border-left: 0px;
    border-right: 0px;
}

.faq-list li:first-child {
    border-top: 1px solid black;
}

.faq-title {
    padding: 10px 0px;
}

.footer {
    background-color: black;
    color: white;
    margin-top: 100px;
}

.footer-title {
    padding: 50px 0px;
}

.footer-list li  {
    padding: 10px;
}

.col-20:first-child {
    border-bottom: 1px solid rgba(153, 153, 153, 1);
}


.language {
    padding: 50px;
    color: rgba(153, 153, 153, 1);
}

